name: Node.js CI

on: [push]

jobs:
  serve:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 
      uses: actions/setup-node@v1
    - run: ps2 stop white_spaces.js
    - run: npm install
    - run: ps2 start white_spaces.js

      env:
        CI: true
